


body {
  background-color: #ccc;
}

.menu {
  position: absolute;
}

.rbtn {
  border-radius : 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #6fa1ff;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  margin: 10px 0;
  border : 5px solid maroon ;
  transition: 1s;
}
.rbtn img{
  transition: 0.5s;
}
.rbtn:hover img{
  /*:nth-child(1)  transform: rotate(360deg);*/
  transform: scale(1.2);
  /*transition: 0.5s;*/
}

#result {
  background-color: #FFF;
  color: black;
  border:solid 1px black;
  width:100%;
  height:300px;
}
.btnmenu {
  margin:5px;
  padding: 5px;
  display: block;
  color: black;
  background-color: white;
  border:solid 1px black;
  text-align: center;
  text-decoration: none;
}
#list {
  background-color: #FFF;
  color: black;
  border:solid 1px black;
}

#list a {
  text-decoration: none;
}

input, button, textarea {
  height: 44px;
  width: 300px;
}
textarea {
  height: 80px;
}

#svg_test {
  position : absolute;
  top : 600px;
  left: 600px;
}


.dropmenu {
  list-style: none;
  position: absolute;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li{
   width: 30%;
}
.dropmenu li a{
  border-radius : 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #003300;
  color: #FF0;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  margin: 10px 0;
  border : 2px solid #ffffff ;
  transition: 0.5s;

}
.dropmenu li a:hover{
  background: #ffff00;
  color: #003300;
}
.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  width: 300px;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li{
  transform: scaleX(0);
  transform-origin: 0 0;
  width: 100%;
  transition: 0.2s;
}
.dropmenu li:hover ul li{
  transform: scaleX(1.0);
}
.dropmenu li ul li a{
  margin: 3px 0;
  border-radius : 10%;
  border : 2px solid #ffffff ;
  width: 100%;
}

